<div class="container py-4 m-auto mt-1 text light">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Talk To Doctor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Medicine</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Surgery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Medlab Gold</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Insurance</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Lab Test & Packages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">More</a>
                  </li>
                  
                  
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>  
    </div>
</div>
