<div class="container py-4 m-auto mt-1 text light">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-75 border d-flex  justify-content-between">
                  <li class="nav-item border">
                    <a class="nav-link active" aria-current="page" href="#">
                      <img class="m-auto" src="../../../assets/img/doctor.png" alt="" height="75" width="75"></a>
                      <h6>Talk To Doctor</h6>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <img class="m-auto" src="../../../assets/img/medicine (1).jpg" alt="" height="75" width="75">
                    </a>
                    <h6>Medicine</h6>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <img class="m-auto" src="../../../assets/img/surgery.png" alt="" height="75" width="75">
                    </a>
                    <h6>Surgery</h6>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <img class="m-auto" src="../../../assets/img/healthcare.png" alt="" height="75" width="75"></a>
                    <h6>Insurance</h6>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <img class="m-auto" src="../../../assets/img/lab.png" alt="" height="75" width="75"></a>
                    </li>
                  <li class="nav-item border">
                    <a class="nav-link" href="#">
                      <img class="m-auto" src="../../../assets/img/more.png" alt="" height="75" width="75">
                    </a>
                    <h6>More</h6>
                  </li>
                  
                  
                </ul>
              </div>
            </div>
          </nav>  
    </div>
</div>
